@charset "UTF-8";
/* CSS Document */

#mybtn {
	
	margin:0px 0px 4px 4px;
}

#header{
	 background-image: url(../images/header.jpg);
	 height: 339px;
	 width: 600px;
	
	 
}
.footer{
    background: #2F73D7;
    height: 100px;    
    padding-top:40px;
    color:white;
	font-size:10px;
	margin-top:2px;
	width: 600px;
	
    
}